.vfrc-message--extension-OpenAIAssistantsV2 {
  color: #1a1e23;
  font-family: "Open Sans", sans-serif;
  position: relative;
  min-height: 41px;
  min-width: 64px;
  max-width: 100%;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  width: fit-content;
  padding: 1px 16px 1px;
}

.vfrc-message--extension-OpenAIAssistantsV2  img {
    max-width: 100%;
    display: block;
    margin: 10px 0;
}

.response-container ol {
    margin-left: -20px; 
    padding-left: 0;    
}

.response-container {
    margin-left: -1px;
}

.response-container ol p {
    margin-left: 20px; 
}

.response-container ol {
    list-style-position: inside; 
    padding-left: 20px; 
}

.response-container ul {
    padding-left: 25px; 
}

.response-container ol li p {
    margin: 0;
    padding-left: 20px;
}

.jyiuei4::after {
  content: "Cannaone"; 
  color: rgb(255, 255, 255); 
  position: absolute;
  left: 0;
}

.jyiuei4 {
  display: inline-block;  
  overflow: visible; 
  color: transparent; 
  position: relative;
}

button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
  width: 64px;
  height: 64px;
}

.f6dof86.f6dof88 > img.f6dof8t.f6dof8v.f6dof8g {
  width: 48px;
  height: 48px;
}

.vfrc-proactive._6r9xee0._6r9xee1 
  button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._1q15b0b5._6r9xee5 {
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.vfrc-proactive._6r9xee0._6r9xee1 
  button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._1q15b0b5._6r9xee5 
  .vfrc-icon._1t7e06e0._6r9xee6 svg {
  width: 10px;  
  height: 10px; 
}
